.checkout-container {
    display: flex;
    flex-direction: column;
}

.checkout-details-and-review {
    display: flex;
    flex-direction: row;
}

.checkout-details {
    flex: 2;
    /* Other styles for checkout-details */
}

.checkout-review-order {
    flex: 1;
    /* Other styles for checkout-review-order */
}

.checkout-payment {
    padding-left: 20px; /* Add spacing as needed */
}

.checkout-button {
    padding: 10px 20px;
    font-size: 18px;
    width: 200px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-button:hover {
    background-color: #0056b3;
}

.checkout-table {
    border: 1px solid #000; /* Add a border around the table */
    border-collapse: collapse; /* Collapse table borders into a single border line */
    width: 100%; /* Ensure the table spans the entire container */
}
.checkout-table th, .checkout-table td {
    padding: 8px; /* Add padding to cells for better spacing */
}

.checkoutform-wrapper {
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkoutform label {
    float: left;
    text-align: right;
    width: 150px;
    padding: 7px 10px 0px 0px; 
    font-weight: bold;
}

.checkoutform #name, #email, #contact {
    width: 400px;
    border:none;
}

.checkoutform #name, #email, #contact, #address {
    padding:10px;
    border-radius: 10px;
    border:none;
    font-size: 14px;
}

.checkoutform button {
    margin: 30px 0px 30px 0px;
    padding: 10px;
    border:none;
    border-radius: 10px;
    transition: all 0.3s;
    font-size: 20px;
    background-color: #008CBA;
    color:white;
}

#submitbutton {
    margin-left: 10px;
} 

.checkoutform button:hover {
    transform: scale(1.05, 1.05);
    background-color: #005F77;
}