body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../../IE4717-Project/images/background1.jpg");
}

#container {
  width: 100%;
  margin: auto;
}

#header {
  margin: auto;
  padding: 10px;
  background-image: url("../../IE4717-Project/images/background2.jpg");
  color: white;
  height: 150px;
}

div #logo, #searchbar {
  float: left;
}

div #logo img {
  height: 150px;
  width: 150px;
}

#searchbar, #topright {
  margin-left: 30px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#searchbar input[type="text"] {
  padding-left: 10px;
  width: 530px;
  height: 50px;
  border: none;
  font-size: 20px;
  border-radius: 5px;
}

#searchbar button {
  width: 150px;
  height: 50px;
  cursor: pointer;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  transition: all 0.3s;
}

#searchbar button:hover {
  background-color: #0CF1DE;
  transform: scale(1.05, 1.05);
}

div #topright {
  float: right;
  margin-right: 30px;
}

#topright button {
  width: 80px;
  height: 50px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 20px;
  transition: all 0.3s;
}

.topbuttons:hover, .open-button:hover {
  background-color: #0CF1DE;
  transform: scale(1.1, 1.1);
}

/* ---START OF CONTENT WRAPPER--- */
.Content_Wrapper {
  margin: 0 auto;
  max-width: 80%; /* Adjust the maximum width as needed */
  /*padding: 5px; /* Add padding around the content wrapper */
}
/* ---END OF CONTENT WRAPPER--- */


/* ---START OF LOGIN FORM--- */
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  cursor: pointer;
  position: relative;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  border: 2px solid #f1f1f1;
  /* box-shadow: 2px 2px 2px #d1d1d1; */
  /* z-index: 9; */
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  text-align: center;
  color: black;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 10px 5px 10px 5px;
  margin: 5px 0 22px 0;
  border: none;
  background-color: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.form-container h1 {
  color: black;
}
/* ---END OF LOGIN FORM--- */


/* ---START OF NAVBAR--- */
  #navbar {
    margin-top: 20px;
    text-align: center;
  }

  #navbar a {
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
    color: black;
    margin: 0px 20px 0px 20px;
  }

  #navbar a:hover {
    color:#AC001B;
    font-weight: bold;
    text-decoration: underline;
  }

  #navbar ul li {
    display: inline;
  }
/* ---END OF NAVBAR--- */


/* ---START OF BANNER--- */
#bannercontact {
  margin-top:70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bannercontact div {
  width: 30%;
  text-align: center;
  background-color: white;
  border: solid 1px black;
}

#bannercontact figcaption {
  padding:10px;
  background-color: #333333;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

#bannercontact img {
  padding: 20px;
}

#bannercontact a {
  text-decoration: none;
  color:black;
}
/* ---END OF BANNER--- */


/* ---START OF FOOTER--- */
  #footer {
    background-image: url("../../IE4717-Project/images/background2.jpg");
    color: white;
    text-align: center;
    margin: auto;
  }

  #sitemap {
    padding: 20px 20px;
    text-align: center;
  }

  #sitemap a {
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
    color:white;
    margin: 0px 30px 0px 30px;
  }

  #sitemap a:hover {
    color:#0CF1DE;
    font-weight: bold;
  }

  #sitemap ul li {
    display: inline;
  }

  #footer p {
    margin:0;
    padding: 20px;
  }
/* ---END OF FOOTER--- */

/* ---START OF CONTACT FORM --- */
.contactform label {
  float: left;
  display: block; 
  text-align: right;
  width: 150px;
  padding: 10px 10px 0px 0px;
  font-weight: bold;
}

.contactform #name, #email, #contact {
  width: 400px;
  border:none;
}

.contactform #name, #email, #contact, #message {
  padding:10px;
  border-radius: 10px;
  border:none;
  font-size: 14px;
}

.contactform button {
  margin: 30px 0px 30px 0px;
  padding: 10px;
  border:none;
  border-radius: 10px;
  transition: all 0.3s;
  font-size: 20px;
}

#submitbutton {
  margin-left: 10px;
} 

.contactform button:hover {
  transform: scale(1.05, 1.05);
  background-color: lightgrey;
}
/* ---END OF CONTACT FORM--- */