
    /* Styles for .product_name */
    .ITEM_PAGE #productid_1 .product_name {
        color: blue;
        font-size: 24px;
    }

    /* Styles for .product_img */
    .ITEM_PAGE #productid_1 .product_img img {
        width: 100%; /* This will make the image fill its container */
        max-width: 100%; /* Ensure the image doesn't exceed its container width */
    }

    /* Styles for .product_desc */
    .ITEM_PAGE #productid_1 .product_desc {
        background-color: #f0f0f0;
        padding: 10px;
    }
