body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("/IE4717/F38-DG16-Project/IE4717-Project/images/background.jpg");
  background-image: url("/images/background.jpg");
}

#container {
  width: 80%;
  margin: auto;
  min-width:1200px;}

#header {
  margin: auto;
  padding: 10px;
  /* background-color: #333333; */
  background-image: url("/IE4717/F38-DG16-Project/IE4717-Project/images/background2.jpg");
  background-image: url("/images/background2.jpg");
  color: white;
  height: 150px;
}

div #logo, #searchbar {
  float: left;
}

div #logo img {
  height: 150px;
  width: 150px;
}

#searchbar, #topright {
  margin-left: 30px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#searchbar input[type="text"] {
  padding-left: 10px;
  width: 500px;
  height: 50px;
  border: none;
  font-size: 20px;
  border-radius: 5px;
}

#searchbar button {
  width: 100px;
  height: 50px;
  cursor: pointer;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  transition: all 0.3s;
}

#searchbar button:hover {
  background-color: #0CF1DE;
  transform: scale(1.05, 1.05);
}

div #topright {
  float: right;
  margin-right: 30px;
}

#topright button {
  width: 80px;
  height: 50px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 20px;
  transition: all 0.3s;
}

.topbuttons:hover, .open-button:hover {
  background-color: #0CF1DE;
  transform: scale(1.1, 1.1);
}

/* ---START OF LOGIN FORM--- */
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  cursor: pointer;
  position: relative;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  border: 2px solid #f1f1f1;
  /* box-shadow: 2px 2px 2px #d1d1d1; */
  /* z-index: 9; */
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  text-align: center;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 10px 5px 10px 5px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.form-container h1 {
  color: black;
}
/* ---END OF LOGIN FORM--- */

/* ---START OF CONTENT WRAPPER--- */
.Content_Wrapper {
  margin: 0 auto;
  max-width: 1200px; /* Adjust the maximum width as needed */
  padding: 5px; /* Add padding around the content wrapper */
}
/* ---END OF CONTENT WRAPPER--- */

/* ---START OF NAVBAR--- */
  #navbar {
    margin-top: 20px;
    text-align: center;
	margin-bottom: 20px;
  }

  #navbar a {
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
    color: black;
    margin: 0px 20px 0px 20px;
  }

  #navbar a:hover {
    color:#0CF1DE;
    font-weight: bold;
  }

  #navbar ul li {
    display: inline;
  }
/* ---END OF NAVBAR--- */

/* Product Container */
.product-divider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px;
}

.product-container {
  display: flex;
  flex-direction: column; /* Stack the content vertically */
  width: calc(33.33% - 20px);
  margin: 0 10px 20px;
  box-sizing: border-box;
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  position: relative; /* Add relative positioning */
}

.product-container img {
  max-width: 100%;
  height: auto;
}

.price-container {
  position: relative; /* Keep it relatively positioned within the product-container */
  width: 100%; /* Make it full-width of the product-container */
  padding: 5px 0; /* Add some padding */
  margin-top: auto; /* Push the price-container to the bottom */
  text-align: center;
}

.price-container p {
  margin: 0; /* Remove default margin for the paragraph */
}

/* End of Product Container */

/* ---START OF BANNER--- */
.banner h1 {
  text-align: center;
  /* background-color: #333333; */  
  background-image: url("/IE4717/F38-DG16-Project/IE4717-Project/images/background2.jpg");
  background-image: url("/images/background2.jpg");
  color: white;
  margin-bottom: 0;
  padding: 30px;
}

.bannerpromo, .bannerbest, .bannerbestdesc, .bannernew, .bannernewdesc {
  display: flex;
  flex-wrap: nowrap;
  background-color: #333333;
}

.bannernew div, .bannerbest div, .bannerpromo div {
  background-color: lightgrey;
  width: 20%;
  aspect-ratio: 1/1;
  margin: 0px 10px 10px 10px;
  text-align: center;
  font-size: 30px;
}

.bannerbestdesc div, .bannernewdesc div {
  background-color: lightgrey;
  width: 20%;
  margin: 0px 10px 10px 10px;
  text-align: center;
  font-size: 30px;
}
/* ---END OF BANNER--- */


/* ---START OF FOOTER--- */
  #footer {
    /* background-color: #333333; */
    background-image: url("/IE4717/F38-DG16-Project/IE4717-Project/images/background2.jpg");
    background-image: url("/images/background2.jpg");
    color: white;
    text-align: center;
    margin: auto;
  }

  #sitemap {
    padding: 20px 20px;
    text-align: center;
  }

  #sitemap a {
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
    color:white;
    margin: 0px 30px 0px 30px;
  }

  #sitemap a:hover {
    color:#0CF1DE;
    font-weight: bold;
  }

  #sitemap ul li {
    display: inline;
  }

  #footer p {
    margin:0;
    padding: 20px;
  }
/* ---END OF FOOTER--- */