body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../../IE4717-Project/images/background1.jpg");
  background-size: 100%;
  background-position: center;
}

/* FONT CUSTOMIZATION */
h1 {
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 3px;
}

ul a {
  font-family: 'Electrolize', sans-serif;
  letter-spacing: 3px;
}

h4, h2, button, input, textarea {
  font-family: 'Electrolize', sans-serif;
  letter-spacing: 1px;
}

button.btn {
  font-family: 'Orbitron', sans-serif;
}
/* FONT CUSTOMIZATION */

#bodytext h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 36px;
  letter-spacing: 3px;
  text-align: center;
  margin-top: 50px;
}

#container {
  width: 100%;
  margin: auto;
  min-width:1200px;}

#header {
  margin: auto;
  width: 100%;
  background-image: url("../../IE4717-Project/images/headerfooter_bg.jpg");
  background-size: 100%;
  background-position: center;
  color: white;
  height: 200px;
}

div #logo, #searchbar {
  float: left;
}

div #logo img {
  height: 200px;
  width: 200px;
}

#searchbar, #topright {
  margin-left: 30px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#searchbar input[type="text"] {
  padding-left: 10px;
  width: 530px;
  height: 50px;
  border: none;
  font-size: 20px;
  border-radius: 5px;
}

#searchbar input[type="text"]:focus {
  background-color: #bffffa;
  outline: none;
}

#searchbar button {
  width: 150px;
  height: 50px;
  cursor: pointer;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  transition: all 0.3s;
}

#searchbar button:hover {
  background-color: #0CF1DE;
  transform: scale(1.05, 1.05);
}

div #topright {
  float: right;
  margin-right: 30px;
  text-align: center;
}

#topright button {
  width: 120px;
  height: 60px;
  margin: 10px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 20px;
  transition: all 0.3s; 
}

#topright button:hover {
  background-color: #0CF1DE;
  transform: scale(1.1, 1.1);
}

button#login-button {  
  background-color: green;
  color: white;
  width: 150px;
}

button#logout-button {
  background-color: darkred;
  color:white;
  width: 150px;
}

button#login-button:hover, button#logout-button:hover {  
  background-color: white;
  color: black;
}

#bodytext {
  line-height: 2;
}

/* ---START OF LOGIN FORM--- */

/* Add styles to the form container */
.loginform-wrapper { 
  width: 100%; 
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginform-container {
  width: 500px;
  height: 400px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  text-align: center;
  color: black;
  border-radius: 10px;
}

/* Full-width input fields */
.loginform-container input[type=text], .loginform-container input[type=password] {
  width: 80%;
  height: 30px;
  font-size: 18px;
  padding: 10px 0px 10px 20px;
  margin: 10px 0 10px 0;
  border: none;
  background: #f1f1f1;
  border-radius: 10px;
}

/* When the inputs get focus, do something */
.loginform-container input[type=text]:focus, .loginform-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.loginform-container .btn {
  background-color: #0CF1DE;
  font-size: 20px;
  padding: 20px 0px 20px 0px;
  border: none;
  cursor: pointer;
  width: 84%;
  opacity: 0.8;
  border-radius: 10px;
  margin-top: 20px;
} 

/* Add some hover effects to buttons */
.loginform-container .btn:hover {
  opacity: 1;
}

.loginform-container h1 {
  color: black;
  text-align: center;
}

.loginform-container  p {
  margin-top: 10px;
}

#signup {
  text-decoration: none;
  font-weight: bold;
  color: navy;
}

#signup:hover {
  text-decoration: underline;
}

#error-message {
  color: red;
}
/* ---END OF LOGIN FORM--- */


/* ---START OF CONTENT WRAPPER--- */
.Content_Wrapper {
  margin: 0 auto;
  max-width: 80%; /* Adjust the maximum width as needed */
  /*padding: 5px; /* Add padding around the content wrapper */
}
/* ---END OF CONTENT WRAPPER--- */


/* ---START OF NAVBAR--- */
  #navbar {
    margin-top: 20px;
    text-align: center;
	  margin-bottom: 20px;
  }

  #navbar a {
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
    color: black;
    margin: 0px 20px 0px 20px;
  }

  #navbar a:hover {
    color:#AC001B;
    font-weight: bold;
    text-decoration: underline;
  }

  #navbar ul li {
    display: inline;
  }

  ul {
    padding:0;
  }
/* ---END OF NAVBAR--- */

/* Page-header */
.page-header {
    text-align: center;
}

/* Product Container */
.product-divider {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  margin: 0 -10px;
}

.product-divider h1 {
  margin: 50px 0 50px 0;
  text-align: center;
  color: red;
}

.product-divider h2 {
  color: red;
  margin-left: 40%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.product-container {
  display: flex;
  flex-direction: column; /* Stack the content vertically */
  width: calc(33.33% - 20px);
  margin: 0 10px 20px;
  box-sizing: border-box;
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  /* position: relative; Add relative positioning */
  background-color: white;
}

.product-container img {
  max-width: 100%;
  height: auto;
}

.product-container h2 {
  background-color: lightgrey; /* Set the background color to grey */
  padding: 10px; /* Add some padding to the header */
  margin: 0; /* Remove the default margin */
  border-radius: 15px; /* Add rounded corners */
  height: 100px; 
  display: flex; 
  align-items: center;
  justify-content: center;
}

.price-container {
  position: relative; /* Keep it relatively positioned within the product-container */
  width: 100%; /* Make it full-width of the product-container */
  padding: 5px 0; /* Add some padding */
  margin-top: auto; /* Push the price-container to the bottom */
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.price-container p {
  margin: 0; /* Remove default margin for the paragraph */
}

.button-container {
    display: flex;
    justify-content: space-between; /* Ensure buttons take up the full width */
    margin-top: 10px; /* Add some space between price and buttons */
}

.add-action {
    flex: 1; /* Distribute available space evenly between buttons */
    padding: 10px;
    width: 175px; /* Set a fixed width for both buttons */
    font-size: 16px; /* Adjust the font size to your preference */
    font-weight: bold;
    background-color: #008CBA; /* Button background color */
    color: white; /* Text color */
    border: none; /* Remove the button border */
    cursor: pointer;
    margin: 2px; /* Adjust this value to bring the buttons closer together */
    border-radius: 10px;
}

.add-action:hover {
    background-color: #005F77; /* Button background color on hover */
}

/* Apply display: inline-block to form elements */
.add-action form {
    display: inline-block;
}
/* End of Product Container */


/* ---START OF BANNER--- */
#welcometitle {
  background-image: url("../../IE4717-Project/images/welcomebg.jpg");
  background-size: cover;
  background-position: center;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 30px;
}

.banner h1 {
  text-align: center;
  background-image: url("../../IE4717-Project/images/background2.jpg");
  background-size: cover;
  color: white;
  margin-bottom: 0;
  padding: 30px;
}

.bannerpromo, .bannerbest, .bannerbestdesc, .bannernew, .bannernewdesc {
  display: flex;
  flex-wrap: nowrap;
  background-color: #333333;
}

.bannernew div, .bannerbest div, .bannerpromo div {
  background-color: lightgrey;
  width: 20%;
  aspect-ratio: 1/1;
  margin: 0px 10px 10px 10px;
  text-align: center;
  font-size: 30px;
}

.bannerbestdesc div, .bannernewdesc div {
  background-color: lightgrey;
  width: 20%;
  margin: 0px 10px 10px 10px;
  text-align: center;
  font-size: 30px;
}

#bannercontact {
  margin-top:70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bannercontact div {
  width: 30%;
  text-align: center;
  background-color: white;
  border: solid 1px black;
}

#bannercontact figcaption {
  padding:10px;
  background-color: #333333;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

#bannercontact img {
  padding: 20px;
}

#bannercontact a {
  text-decoration: none;
  color:black;
}

h1#callus, h1#emailus {
  margin-top: 0;
  margin-bottom: 10px;
}

/* ---END OF BANNER--- */


/* ---START OF FOOTER--- */
  #footer {
    background-image: url("../../IE4717-Project/images/headerfooter_bg.jpg");
    background-size: 100%;
    background-position: center;
    color: white;
    text-align: center;
    margin: auto;
  }

  #sitemap {
    padding: 20px 20px;
    text-align: center;
  }

  #sitemap a {
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
    color:white;
    margin: 0px 30px 0px 30px;
  }

  #sitemap a:hover {
    color:#0CF1DE;
    font-weight: bold;
  }

  #sitemap ul li {
    display: inline;
  }

  #footer p {
    margin:0;
    padding: 20px;
  }
/* ---END OF FOOTER--- */


/* ---START OF CONTACT FORM --- */
.contactform-wrapper {
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactform label {
  float: left;
  text-align: right;
  width: 150px;
  padding: 7px 10px 0px 0px; 
  font-weight: bold;
}

.contactform #name, #email, #contact {
  width: 400px;
  border:none;
}

.contactform #name, #email, #contact, #message {
  padding:10px;
  border-radius: 10px;
  border:none;
  font-size: 14px;
}

.contactform button {
  margin: 30px 0px 30px 0px;
  padding: 10px;
  border:none;
  border-radius: 10px;
  transition: all 0.3s;
  font-size: 20px;
  background-color: #008CBA;
  color:white;
}

#submitbutton {
  margin-left: 10px;
} 

.contactform button:hover {
  transform: scale(1.05, 1.05);
  background-color: #005F77;
}
/* ---END OF CONTACT FORM--- */

/* ---START OF REGISTRATION FORM --- */
.registerform label {
  float: left;
  text-align: right;
  width: 200px;
  padding: 10px 10px 0px 0px;
  font-weight: bold;
}

.registerform #name, #email, #contact, #password, #confirmpassword {
  PADDING: 10pX;
  width: 400px;
  border:none;
  border-radius: 10px;
  font-size: 14px;
}

#registerbutton {
  margin: 30px 0px 30px 0px;
  padding: 10px;
  border:none;
  border-radius: 10px;
  transition: all 0.3s;
  font-size: 20px;
} 

#registerform button:hover {
  transform: scale(1.05, 1.05);
  background-color: lightgrey;
}

.registerform-wrapper {
  padding: 50px;
}
/* ---END OF REGISTRATION FORM--- */

.empty-wishlist {
  text-align: center;
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.sad-face {
    font-size: 48px;
}


.rating-input {
  display: inline-block;
}

.rating-input input[type="radio"] {
  display: none;
}

.star-label {
  color: #FFD700; /* Yellow color for stars */
  cursor: pointer;
  font-size: 24px; /* Increase the font size for star labels */
}

/* Style the star symbols when they are not checked */
.star-label:before {
  content: "☆"; /* Empty star symbol */
}

/* Style the star symbols when they are checked */
.rating-input input[type="radio"]:checked + .star-label:before {
  content: "★"; /* Filled star symbol */
}

